.blogPostContainer {
    width: 70%;
}

.blogHeader {
    text-align: center;
}

.blogCategory {
    font-size: 14px;
    display: block;
    padding: 10px 0;
}

.postTitle {
    letter-spacing: 0.5px;
    text-transform: capitalize;
    font-size: 30px;
    margin: 0;
    font-weight: 400;
}

.postedBy {
    font-size: 15px;
    font-style: italic;
    padding: 10px 0;
    display: block;
}

.postImageContainer {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    display: contents;
    align-content: center;
}

.postImageContainer img {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}